<a href="https://colab.research.google.com/github/mehr64/Predicting-Crime-Trends/blob/main/MyProject_DataCleaningPandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install pandas scikit-learn

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.10/dist-packages (1.2.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.3.post1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.23.5)
Requirement already satisfied: scipy>=1.3.2 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.11.4)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (3.2.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [ ]:
import pandas as pd;
df = pd.read_csv('/content/sample_data/CrimeData.csv')

<ipython-input-2-61eb101296d2>:2: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/content/sample_data/CrimeData.csv')

In [ ]:
print(df.isnull().sum())

Financial Year         0
Financial Quarter      0
Force Name             0
Offence Description    0
Offence Group          0
Offence Subgroup       0
Offence Code           0
Number of Offences     0
dtype: int64

In [ ]:
import pandas as pd

# Load the dataset
df = pd.read_csv('/content/sample_data/CrimeData.csv')

# Find duplicate rows based on all columns
duplicate_rows_all = df[df.duplicated()]
count_duplicates_all = duplicate_rows_all.shape[0]

# Find duplicate rows based on specific columns
columns_to_check = ['Financial Year', 'Financial Quarter', 'Force Name', 'Offence Description']
duplicate_rows_specific = df[df.duplicated(subset=columns_to_check)]
count_duplicates_specific = duplicate_rows_specific.shape[0]

# Print out the results
print(f"Total Duplicate Rows (All Columns): {count_duplicates_all}")
print(duplicate_rows_all)

print(f"Total Duplicate Rows (Specific Columns): {count_duplicates_specific}")
print(duplicate_rows_specific)

Total Duplicate Rows (All Columns): 0
Empty DataFrame
Columns: [Financial Year, Financial Quarter, Force Name, Offence Description, Offence Group, Offence Subgroup, Offence Code, Number of Offences]
Index: []
Total Duplicate Rows (Specific Columns): 0
Empty DataFrame
Columns: [Financial Year, Financial Quarter, Force Name, Offence Description, Offence Group, Offence Subgroup, Offence Code, Number of Offences]
Index: []

<ipython-input-4-790198b7ad0e>:4: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/content/sample_data/CrimeData.csv')

In [ ]:
print(df.dtypes)

Financial Year         object
Financial Quarter       int64
Force Name             object
Offence Description    object
Offence Group          object
Offence Subgroup       object
Offence Code           object
Number of Offences     object
dtype: object

In [ ]:
import pandas as pd

# Load the dataset
df = pd.read_csv('/content/sample_data/CrimeData.csv')

# Function to count values with leading or trailing spaces in a column
def count_leading_trailing_spaces(column):
    if df[column].dtype == 'object':
        # Convert to string and count values with leading/trailing spaces
        return df[column].astype(str).str.contains(r'^\s+|\s+$', regex=True).sum()
    else:
        # If not an object (string) type, return 0
        return 0

# Apply the function to each column and print the counts
for col in df.columns:
    count = count_leading_trailing_spaces(col)
    print(f"Column '{col}' has {count} values with leading or trailing spaces.")

<ipython-input-7-92c181b9b5e8>:4: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/content/sample_data/CrimeData.csv')

Column 'Financial Year' has 0 values with leading or trailing spaces.
Column 'Financial Quarter' has 0 values with leading or trailing spaces.
Column 'Force Name' has 0 values with leading or trailing spaces.
Column 'Offence Description' has 0 values with leading or trailing spaces.
Column 'Offence Group' has 0 values with leading or trailing spaces.
Column 'Offence Subgroup' has 0 values with leading or trailing spaces.
Column 'Offence Code' has 0 values with leading or trailing spaces.
Column 'Number of Offences' has 1313 values with leading or trailing spaces.

In [ ]:
# Count Non-numeric Values
non_numeric_before = df['Number of Offences'].apply(lambda x: isinstance(x, str))
print("Number of non-numeric values before conversion:", non_numeric_before.sum())
print("Unique non-numeric values:", df['Number of Offences'][non_numeric_before].unique())

Number of non-numeric values before conversion: 65536
Unique non-numeric values: ['9' '5' '0' ... '2084' '1768' '1996']

In [ ]:
# Count NaN Values
nan_count_before = df['Number of Offences'].isna().sum()
print("Number of NaN values before conversion:", nan_count_before)

Number of NaN values before conversion: 0

In [ ]:
import pandas as pd

# Load the dataset
df = pd.read_csv('/content/sample_data/CrimeData.csv')

# Strip leading and trailing spaces from the specified column
df['Number of Offences'] = df['Number of Offences'].str.strip()

# Optional: Save the cleaned data
# df.to_csv('cleaned_data.csv', index=False)

<ipython-input-10-2462bed45977>:4: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/content/sample_data/CrimeData.csv')

In [ ]:

# Count Non-numeric Values
non_numeric_before = df['Number of Offences'].apply(lambda x: isinstance(x, str))
print("Number of non-numeric values before conversion:", non_numeric_before.sum())
print("Unique non-numeric values:", df['Number of Offences'][non_numeric_before].unique())

Number of non-numeric values before conversion: 65536
Unique non-numeric values: ['9' '5' '0' ... '2084' '1768' '1996']

In [ ]:
# Count NaN Values
nan_count_before = df['Number of Offences'].isna().sum()
print("Number of NaN values before conversion:", nan_count_before)

Number of NaN values before conversion: 33241

In [ ]:
import pandas as pd

# Load the dataset
df = pd.read_csv('/content/sample_data/CrimeData.csv')

# Strip leading and trailing spaces from the specified column
df['Number of Offences'] = df['Number of Offences'].astype(str)

<ipython-input-14-22d44ad78ca0>:4: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/content/sample_data/CrimeData.csv')

In [ ]:
df['Number of Offences'] = df['Number of Offences'].str.strip()
# Optional: Save the cleaned data
# df.to_csv('/content/sample_data/cleaned_CrimeData.csv', index=False)

In [ ]:
# Count Non-numeric Values
non_numeric_before = df['Number of Offences'].apply(lambda x: isinstance(x, str))
print("Number of non-numeric values before conversion:", non_numeric_before.sum())
print("Unique non-numeric values:", df['Number of Offences'][non_numeric_before].unique())

Number of non-numeric values before conversion: 98777
Unique non-numeric values: ['9' '5' '0' ... '8414' '5283' '1498']

In [ ]:
# Count NaN Values
nan_count_before = df['Number of Offences'].isna().sum()
print("Number of NaN values before conversion:", nan_count_before)

Number of NaN values before conversion: 0

In [ ]:
# Convert to Numeric and Count NaNs
df['Number of Offences'] = pd.to_numeric(df['Number of Offences'], errors='coerce')
nan_count_after = df['Number of Offences'].isna().sum()
print("Number of NaN values after conversion:", nan_count_after)

Number of NaN values after conversion: 1313

In [ ]:
has_commas = df['Number of Offences'].astype(str).str.contains(',')
count_rows_with_commas = has_commas.sum()
print("Number of rows with commas:", count_rows_with_commas)

Number of rows with commas: 0

In [ ]:
# Read the CSV file into a pandas DataFrame
df = pd.read_csv('/content/sample_data/CrimeData.csv')

# Convert the 'Number of Offences' column to a string type
df['Number of Offences'] = df['Number of Offences'].astype(str)

<ipython-input-25-235bd8f9a594>:2: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/content/sample_data/CrimeData.csv')

In [ ]:
# Remove commas from the 'Number of Offences' column
df['Number of Offences'] = df['Number of Offences'].str.replace(',', '')

In [ ]:
# Strip leading and trailing spaces from the 'Number of Offences' column
df['Number of Offences'] = df['Number of Offences'].str.strip()

In [ ]:
# Convert the 'Number of Offences' column to a numeric type, coercing errors to NaN
df['Number of Offences'] = pd.to_numeric(df['Number of Offences'], errors='coerce')

In [ ]:
print(df.dtypes)

Financial Year         object
Financial Quarter       int64
Force Name             object
Offence Description    object
Offence Group          object
Offence Subgroup       object
Offence Code           object
Number of Offences      int64
dtype: object

In [ ]:
# Check for NaN values in the 'Number of Offences' column after conversion
nan_count_after = df['Number of Offences'].isna().sum()
print("Number of NaN values before conversion:", nan_count_after)

Number of NaN values before conversion: 0

In [ ]:

# Count non-numeric values before conversion
non_numeric_before = df['Number of Offences'].apply(lambda x: isinstance(x, str))
print("Number of non-numeric values before conversion:", non_numeric_before.sum())
print("Unique non-numeric values:", df['Number of Offences'][non_numeric_before].unique())

Number of non-numeric values before conversion: 0
Unique non-numeric values: []

In [ ]:

# Count negative values in the 'Number of Offences' column
negative_count = (df['Number of Offences'] < 0).sum()
print("Number of negative values in 'Number of Offences':", negative_count)

Number of negative values in 'Number of Offences': 0

In [ ]:
non_null_counts = df.notna().sum()
print(non_null_counts)

Financial Year         98777
Financial Quarter      98777
Force Name             98777
Offence Description    98777
Offence Group          98777
Offence Subgroup       98777
Offence Code           98777
Number of Offences     98777
dtype: int64

In [ ]:
df.to_csv('/content/sample_data/cleaned_data.csv', index=False)